<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <p align="center">
            {% if app.request.get('_route') == 'test' %}
                test
            {% else %}
                <a href="{{ path('test') }}">test</a>
            {% endif %}

            {% if app.request.get('_route') == 'detail' %}
                detail
            {% else %}
                <a href="{{ path('detail') }}">detail</a>
            {% endif %}

            {% if app.request.get('_route') == 'hello' and controller_name == 'Master' %}
                master
            {% else %}
                <a href="{{ path('hello', {'name': 'Master'}) }}">master</a>
            {% endif %}

            {% if app.request.get('_route') == 'hello' and controller_name == 'Slave' %}
                slave
            {% else %}
                <a href="{{ path('hello', {'name': 'Slave'}) }}">slave</a>
            {% endif %}

            {% if app.request.get('_route') == 'homework' %}
                homework
            {% else %}
                <a href="{{ path('homework') }}">homework</a>
            {% endif %}

            {% if app.request.get('_route') == 'remember' %}
                remember
            {% else %}
                <a href="{{ path('remember') }}">remember</a>
            {% endif %}

            {% if app.request.get('_route') == 'list' %}
                list
            {% else %}
                <a href="{{ path('list') }}">list</a>
            {% endif %}

            {% if app.request.get('_route') == 'book_index' %}
                book_index
            {% else %}
                <a href="{{ path('book_index') }}">book_index</a>
            {% endif %}

            {% if app.request.get('_route') == 'century' %}
                books
            {% else %}
                <a href="{{ path('century') }}">century</a>
            {% endif %}

            {% if app.request.get('_route') == 'author' %}
                books
            {% else %}
                <a href="{{ path('author') }}">author</a>
            {% endif %}

            {% if app.request.get('_route') == 'price' %}
                books
            {% else %}
                <a href="{{ path('price') }}">price</a>
            {% endif %}

            {% if app.request.get('_route') == 'years' %}
                books
            {% else %}
                <a href="{{ path('years') }}">years</a>
            {% endif %}
        </p>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
